{# This is a page that presents the Quizzy Team #}

{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel = "stylesheet" href = "/assets/css/about.css">
{% endblock %}

{% block content %}
<div class = "theDreamTeam">
    <h2>L'équipe Quizzy :</h2>
    <img src = "/assets/images/Lu.png" alt="Lucy MERLIER">
    <p>Lucy Merlier</p>
    <img src = "/assets/images/Flo.png" alt="Florian BOULMÉ">
    <p>Florian BOULMÉ</p>
    <img src = "/assets/images/Y.png" alt="Yusuf CELIK">
    <p>Yusuf CELIK</p>
    <img src = "/assets/images/Max.png" alt="Maxime BOUET">
    <p>Maxime BOUET</p>
</div>
{% endblock %}