{# This is a page that presents the Quizzy Team #}

{% extends "base.html.twig" %}

{% block content %}
<h1>Qui sommes nous?</h1>
<div>
    <img src = "" title="Lucy MERLIER">
    <p>Lucy Merlier</p>
    <img src = "" title="Florian BOULMÉ">
    <p>Florian BOULMÉ</p>
    <img src = "" title="Yusuf CELIK">
    <p>Yusuf CELIK</p>
    <img src = "" title="Maxime BOUET">
    <p>Maxime BOUET</p>
</div>
{% endblock %}