{# This is a page that presents how the site is working #}

{% extends "base.html.twig" %}

{% block content %}
<h1>Qui sommes nous?</h1>
<p>
    Nous sommes quatres jeunes développeu(ses)rs web.
    Quizzy est le résultat de notre deuxième projet dans le cadre
    de notre formation à la Wild Code School conçu en 1 mois.

    Supervisé par Romain Clair.
</p>
<h1>Quelle est le fonctionnement de Quizzy ?</h1>
<p>
    Connectez-vous au site et jouer ! ;)
    <br>
    Quizzy est un site totalement communautaire, le but est de répondre aux diverses questions du site
    qui s'affiche de façon aléatoire, et alimenté par les internautes.
    Vous pouvez également ajoutez vos propores questions pour enrichir le quizz !
    <br><br>
    Pour répondre à une question, il suffit de cliquer sur une des réponses qu'ils vous sont proposés.
    Plusieurs bonnes réponses sont possibles, il faut en trouver 1. A vos souris ! ;)
</p>

<h1>Comment ajouter des questiions ?</h1>
<p>
    Il vous suffit:<br>
     - Écrire une question<br>
     - Choisir le nombre de réponse que vous souhaitez<br>
     - Écrire vos différentes propositions<br>
     - Indiquer lesquelles sont vraies ou fausses<br>
    NB :<br>
    Vos questions doivent contenir entre 3 et 200 caractères,<br>
    les réponses entre 1 et 100 caractères,<br>
    Et il vous faut au moins une réponse juste.
</p>
<h1>Quelles sont les données personnelles que le site stock?</h1>
<p>
    Quizzy n'a pas besoin de vos données personnelles pour fonctionner.
    Il n'y a donc aucunes de vos données qui sont stockées.
    Par ailleurs, aucun besoin de créer un compte utilisateur pour s'amuser sur le site. 
</p>    
{% endblock %}