{% extends "base.html.twig" %}

{% block content %}
<div>
    <h2>Identité</h2>
    <p>Nom du site web : Quizzy<br>
    Adresse : <a href="https://tours-php-2009-project2-quizzy.phprover.wilders.dev/" data-wpel-link="internal">Quizzy</a><br>
    Propriétaire : Wild Code School<br>
    Responsable de publication : Lucy MERLIER, Florian BOULMÉ, Maxime BOUET et Yusuf CELIK.<br>
    Conception et réalisation : Lucy MERLIER, Florian BOULMÉ, Maxime BOUET et Yusuf CELIK.<br>
</div>
<div>
    <h2>Personne morale</h2>
    <p> Quizzy - Site de quiz en QCM à but non lucratif - MAME, Tours<br></p>
</div>
<div>
    <h2>Conditions d’utilisation</h2>
    <p>
        L’utilisation du présent site implique l’acceptation pleine et entière 
        des conditions générales d’utilisation décrites ci-après. Ces conditions 
        d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
    </p>
</div>
<div>  
    <h2>Propriété intellectuelle</h2>
    <p>
        Sauf mention contraire, tous les éléments accessibles sur le site
        (textes, images, graphismes, logo, icônes, sons, logiciels, etc.)
        restent la propriété exclusive de leurs auteurs, en ce qui concerne
        les droits de propriété intellectuelle ou les droits d’usage.
        <sup id="fnref-7013-1"><a href="#fn-7013-1" rel="footnote">1</a></sup>
    </p>
    <p>
        Toute reproduction, représentation, modification, publication, adaptation
        de tout ou partie des éléments du site, quel que soit le moyen ou le procédé
        utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.
        <sup id="fnref-7013-2"><a href="#fn-7013-2" rel="footnote">2</a></sup>
        <sup id="fnref-7013-3"><a href="#fn-7013-3" rel="footnote">3</a></sup>
    </p>
    <p>
        Toute exploitation non autorisée du site ou de l’un quelconque des éléments
        qu’il contient est considérée comme constitutive d’une contrefaçon et peut être poursuivie en justice.
        <sup id="fnref-7013-9"><a href="#fn-7013-9" rel="footnote">4</a></sup>
    </p>
    <p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>
</div>                        
<div>
    <h2>Liens</h2>
    <p><strong>Liens sortants</strong><br>
        Le propriétaire du site décline toute responsabilité et
        n’est pas engagé par le référencement via des liens hypertextes,
        de ressources tierces présentes sur le réseau Internet, tant en ce
        qui concerne leur contenu que leur pertinence.
    </p>
    <p><strong>Liens entrants</strong><br>
        Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition
        que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter
        <br>
        tout risque de confusion entre le site citant et le propriétaire du site ainsi que toute
        présentation tendancieuse, ou contraire aux lois en vigueur.
    </p>
    <p>
        Le propriétaire du site se réserve le droit de demander la suppression d’un
        lien s’il estime que le site source ne respecte pas les règles ainsi définies.
    </p>
</div>
<div>                    
    <h2>Confidentialité</h2>
    <p>Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. <sup id="fnref-7013-5"><a href="#fn-7013-5" rel="footnote">5</a></sup> <sup id="fnref-7013-7"><a href="#fn-7013-7" rel="footnote">6</a></sup> <sup id="fnref-7013-8"><a href="#fn-7013-8" rel="footnote">7</a></sup> <sup id="fnref-7013-6"><a href="#fn-7013-6" rel="footnote">8</a></sup></p>
    <p>
        Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.
        <sup id="fnref-7013-4"><a href="#fn-7013-4" rel="footnote">9</a></sup>
    </p>
</div>
    <h2>Crédits</h2>
    <p>Les crédits photos sont sur chaque photo ou absents lorsque les images sont libres de droits.</p>
    <p>
        <em><a href="http://webexpress.fr" data-wpel-link="internal">Mentions légales fournies par WebExpress – Version 1.5</a>
        – Utilisation libre sous
        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/" data-wpel-link="external" target="_new" rel="external noopener noreferrer" class="ext-link wpel-icon-right">
            Licence Creative Commons CC BY-NC-ND 3.0 FR / creativecommons.org
        <span class="wpel-icon wpel-image wpel-icon-4"></span></a>.</em>
    </p>
</div>
{% endblock %}