{# This is the page that confirms that your question has been added to database #}

{% extends "base.html.twig" %}

{% block content %}
<p id = "submit">{{ message }}</p>
<a href = "../question/index" id = "passButton">Retourner au quizz !</a>
{% endblock %}