{# This is the page that confirms that your question has been added to database #}

{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel = "stylesheet" href = "/assets/css/added.css">
{% endblock %}

{% block content %}
<div class = "addedChoices">
    <p class = "messageAdded" id = "submit">{{ message }}</p>
    <a href = "/" id = "passButton">Retourner au quizz !</a>
</div>
{% endblock %}