{# This is the base layout for the actual project we are developping : Quizzy. #}

<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            Quizzy
            {% endblock %}
        </title>
        <link rel = "stylesheet" href = "/assets/css/style.css">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <header>
            <h1>Quizzy</h1>
        </header>
        {% block content %}
        <p>Tu n'aimes pas les questions qu'on te propose?<p>
        <a href = "../addForm/addQuestion">AJOUTE LES TIENNES !!!</a>
        {% endblock %}
        <footer>
            <ul>
                <li><a href = "" class = "footerLink">F.A.Q</a></li>
                <li><a href = "" class = "footerLink">A propos de nous</a></li>
                <li><a href = "" class = "footerLink">Mentions Légales</a></li>
            </ul>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>