<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
        Quizzy
        {% endblock %}
    </title>

    {% block stylesheets %}
    <link rel = "stylesheet" href = "mainStyle.css">
    {% endblock %}

  </head>

  <body>

    <header>
        <h1>Quizzy</h1>
    </header>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <footer>
        <ul>
            <li><a href = "">F.A.Q</a></li>
            <li><a href = "">About Us</a></li>
            <li><a href = "">Legal Mentions</a></li>
        </ul>
    </footer>

  </body>

</html>