.title {
    text-align: center;
}

.question {
    text-align: center;
}

.choiceBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notQuestion {
    text-align: center;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.add {
    display: flex;
    justify-content: center;
}

.footerLinks {
    display : flex;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
}
