{# This is the page that displays if you won or failed answering the question #}

{% extends "base.html.twig" %}

{% block content %}
<div class = "result">
    <p class = "messageResult" id = "winOrFailMessage">{{ message }}</p>
    <a href = "" id = "passButton">Question suivante</a>
</div>
{% endblock %}