{# This is the page that displays if you won or failed answering the question #}

{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel = "stylesheet" href = "/assets/css/result.css">
{% endblock %}

{% block content %}
    <div class = "result">
        <p class = "messageResult" id = "winOrFailMessage">{{ message }}</p>
        <a href = "" class = "button">Question suivante</a>
    </div>
{% endblock %}