{# This is Quizzy's page that displays a form that allows users to add their own questions #}

{% extends "base.html.twig" %}

{% block content %}
<p>{{ error }}</p>
<form method = "post" action = "addChoices">
    <label for = "userQuestion" >Ecris ta question ici :</label>
    <textarea id = "userQuestion" name = "userQuestion"></textarea>
    <label for = "numberOfChoices">Combien de choix veux-tu ?</label>
    <select name = "numberOfChoices" id = "numberOfChoices">
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
        <option value = "6">6</option>
    </select>
    <button>Ajoute tes choix !</button>
</form>
{% endblock %}