{# This is the page that confirms that your question has been uploaded #}

{% extends "base.html.twig" %}

{% block content %}
<p id = "submit">Ta question a bien été ajoutée !</p>
<a href = "../question/index" id = "passButton">Retourner au quizz !</a>
{% endblock %}